/.aspnet
/.cloud
/.storage
/@eaDir
/addons_config
/backups
/custom_components
/glances
/image
/tmp_backups
/tts
/zigbee2mqtt
.ha_run.lock
.HA_VERSION
go2rtc.yaml
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
home-assistant.log.fault
secrets.yaml
zigbee.db
zigbee.db-shm
zigbee.db-wal