.ha_run.lock
.HA_VERSION
/@eaDir
/.aspnet
/.claude/session.md
/.cloud
/.storage
/addons_config
/backups
/custom_components/
/glances
/image
/tmp_backups
/tts
/zigbee2mqtt
go2rtc.yaml
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
home-assistant.log.fault
secrets.yaml