.ha_run.lock
.HA_VERSION
/@eaDir
/.aspnet
/.claude
/.cloud
/.storage/*
# Exception: Allow dashboard configurations to be committed
!.storage/lovelace
!.storage/lovelace.backup
!.storage/lovelace.lovelace
!.storage/lovelace.dashboard_tablet
!.storage/lovelace_dashboards
!.storage/lovelace_resources
/.vscode
/addons_config
/backups
/custom_components/
/deps/
/glances
/image
/tmp
/tmp_backups
/tts
/www
go2rtc.yaml
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
home-assistant.log.fault
secrets.yaml
zigbee.*